<mat-drawer-container
  [class.drawer-opened]="drawer.opened"
  class="example-container"
>
  <mat-drawer #drawer class="drawer" mode="side" opened="true">
    <mat-toolbar class="header">
      <mat-icon class="close" (click)="drawer.close()">close</mat-icon>
    </mat-toolbar>
    <div class="contents">
      <!-- {{ catresults | json }} -->
      <mat-toolbar-row *ngFor="let res of catresults" (click)="getItem(res)">
        <div style="text-align: center">
          <img style="height: 50px; width: 50px" [src]="url + res.ImageUrl" />
          <br />
          {{ res.Name }}
        </div>
      </mat-toolbar-row>
    </div>
  </mat-drawer>
  <mat-toolbar>
    <mat-icon *ngIf="!drawer.opened" (click)="drawer.toggle()"> menu </mat-icon>
  </mat-toolbar>
  <mat-grid-list cols="6" rowHeight="2:1">
    <mat-grid-tile
      *ngFor="let item of itemresults"
      (click)="itemClick(item, 1)"
    >
      <img style="height: 60px; width: 60px" [src]="url + item.ImageUrl" />
      <div>{{ item.Name }}</div>
      <div>${{ item.Price }}</div></mat-grid-tile
    >
  </mat-grid-list>
  <button mat-raised-button color="primary" (click)="onCheckout()">
    Checkout
  </button>
  <br /><br />
  <button mat-raised-button color="primary" (click)="onCancel()">Cancel</button>
</mat-drawer-container>
