.drawer {
  position: fixed;
  height: 100vh;
  min-width: 5%;
  border-right: 1px solid #ccc;
}
.drawer .header {
  position: absolute;
  right: 0;
  justify-content: space-between;
}
.drawer .contents {
  padding: 16px;
  margin-top: 80px;
}
mat-toolbar-row {
  padding: 10px;
  height: fit-content;
}
mat-toolbar-row:hover {
  background: lightgray;
  color: orange;
}
::ng-deep .mat-grid-tile-content {
  display: inline-grid !important;
}
