<div class="t-cen mt">
  <h1>Login</h1>
  <form [formGroup]="loginForm">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="email?.invalid">{{
        getErrorMessage()
      }}</mat-error> </mat-form-field
    ><br /><br />
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" />
      <mat-error *ngIf="password?.invalid">{{
        getErrorMessage()
      }}</mat-error> </mat-form-field
    ><br /><br />
    <button
      mat-raised-button
      color="primary"
      [disabled]="loginForm.invalid"
      (click)="onLogin()"
    >
      <mat-spinner
        color="accent"
        *ngIf="isLoading"
        [diameter]="20"
      ></mat-spinner>
      <span *ngIf="!isLoading">Login</span>
    </button>
  </form>
</div>
