<div style="margin: 5px">
  <div *ngFor="let order of odrders">
    <div style="display: flex">
      <img style="height: 60px; width: 60px" [src]="url + order.ItemImageUrl" />
      <div style="display: flex">
        <div style="width: 150px; margin-left: 20px; margin-top: 10px">
          <div style="font-weight: bold">{{ order.ItemName }}</div>
          <div>${{ order.ItemPrice }}</div>
        </div>

        <div style="display: flex; align-items: center">
          <mat-icon (click)="onAddQty(order)">add_circle_outline</mat-icon>
          {{ order.Quantity }}
          <mat-icon (click)="onRemoveQty(order)"
            >remove_circle_outline</mat-icon
          >
        </div>
        <div
          style="
            font-weight: bold;
            margin-left: 20px;
            display: flex;
            align-items: center;
          "
        >
          ${{ order.OrderTotal }}
        </div>
      </div>
    </div>
    <hr />
  </div>
</div>
